<div class="container-fluid">
  <h1>Les meilleurs cocktails</h1>
  <div class="buttons">
    <%= link_to new_cocktail_path do %>
      <i class="fa fa-plus"></i>Créer un cocktail
    <% end %>
  </div>
  <hr>

  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-12">
      <div class="card card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo_url %>')">
        <div class="card-description">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

