<div class="container">
  <h1>Les meilleurs cocktails</h1>
  <div class="buttons">
    <%= link_to new_cocktail_path do %>
      <i class="fa fa-plus"></i>Créer un cocktail
    <% end %>
  </div>
  <hr>

  <ul class="list-group">
    <% @cocktails.each do |cocktail| %>
        <li class="list-group-item">
          <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
        </li>
    <% end %>
  </ul>

</div>
